@import url('https://fonts.googleapis.com/css?family=Public+Sans:300,400,500,700,800,900&display=swap');


* {
  margin: 0;
  padding: 0; 
  color: whitesmoke;
  font-family: 'Public Sans', sans-serif;
  background-color: black;
}

.Header{
  height:15vh;

    &_image {
      height: 2.4rem;
      margin: 2.5rem;
      margin-left: 4rem;
  }
}

.StateReps_card {
  padding: 15px; 
  border: darkslategrey solid 1px;
  border-radius: 10px;
}

.State_Title {
  color: whitesmoke;
  height: 60px;
}

.StateInfo{
  color: whitesmoke;
}

.StatesCard {
 display:flex;
 flex-direction: column;
 justify-content: center;
 height: 88vh;
 width: 90vw;
 position: relative;
 border: darkslategrey solid 1px;
 border-radius: 10px;
 margin: auto;
 margin-top: 2rem;
}

.StatesCard_btn{ 
 position: absolute; 
 bottom: -14rem;
 left: 4rem;
}

.StatesCard-div{
  display: flex;
  flex-direction: row;
  position: relative;
}

.StatesCard_header {
  position: absolute;
  top: -14rem;
  left: 4rem;
}

.header_name {
  font-size: 7rem;
  &_description {
    font-size: 1rem;
 }
}

.StatesCard_img-div {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  position: absolute;
  bottom: -17rem;
  right: 7rem;
}



.img_img {
  width: 17rem;
}

.btn {
  width: 17rem;
  font-weight: 800;
  font-size: 1.1rem;
  // text-transform: uppercase;
  height: 60px;
  background-color: whitesmoke;
  color: black;
  border-radius: 1rem;
}

.arrow {
  width: 20px;
  margin:15px;
}



