@import url('https://fonts.googleapis.com/css?family=Public+Sans:300,400,500,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0; 
  color: whitesmoke;
  font-family: 'Public Sans', sans-serif;
  background-color: black;
}

.Header {
  height:15vh;
  position:relative;

    &_image {
      height: 2.4rem;
      margin: 2.5rem;
      margin-left: 4rem;
  }
  &_tag{
    margin-left: 4rem;
    position: absolute;
    top:6rem;
  }
}

.invalidRoutes {
  display:flex;
  flex-direction: column;
  width: 75vw;
  margin: auto;
  margin-top: 1rem;
  align-items: center;
  align-self: center;
}

.invalid-note {
  width:90%;
  align-self: center;
}

.StateReps_card {
  position: relative;
  padding: 1rem; 
  border: darkslategrey solid 1px;
  border-radius: 10px;
  width: 75vw;
  margin: 1rem;
}

.StateReps_name {
  margin-left: 15px;
  font-size: 30px;
}

.StateReps_img {
  width: 30%;
  margin: 15px;
}

.StateReps_contact-div {
  position: absolute;
  top: 63px;
  left: 37%;
}

.state_link {
  position: absolute;
  bottom: -75px;
  left: 10px;  
}

.StateInfo {
  margin: 2rem;
  padding: 1rem;
  position: relative;
  color: whitesmoke;
}

.State_Title {
  color: whitesmoke;
  height: 60px;
}

.StateInfo_btn {
  position: absolute;
  bottom: -150px;
  left: 10px;
}

.StatesCard {
 display:flex;
 flex-direction: column;
 justify-content: center;
 height: 88vh;
 width: 90vw;
 position: relative;
 border: darkslategrey solid 1px;
 border-radius: 10px;
 margin: auto;
 margin-top: 2rem;
}

.isLoading_btn,
.StatesCard_btn { 
 position: absolute; 
 bottom: -14rem;
 left: 4rem;
}

.StatesCard-div {
  display: flex;
  flex-direction: row;
  position: relative;
}

.StatesCard_header {
  position: absolute;
  top: -14rem;
  left: 4rem;
}

.header_name {
  font-size: 7rem;
  &_description {
    font-size: 1rem;
 }
}

.StatesCard_img-div {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  position: absolute;
  bottom: -19rem;
  right: 7rem;
}

.img_img {
  width: 17rem;
}

.btn {
  width: 17rem;
  font-weight: 800;
  font-size: 1.1rem;
  margin: 15px;
  height: 60px;
  background-color: whitesmoke;
  color: black;
  border-radius: 1rem;
  text-decoration: none;
  outline: none;
}

.arrow {
  width: 20px;
  margin:15px;
}

.state_link {
  font-weight: 800;
  font-size: 1.1rem;
  margin: 1em;
  padding: 1em;
  background-color: whitesmoke;
  color: black;
  border-radius: 1rem;
  outline: none;
}

a:link {
  text-decoration: none;
}

.buttonload {
  width: 17rem;
  font-weight: 800;
  font-size: 1.1rem;
  margin: 15px;
  height: 60px;
  background-color: whitesmoke;
  color: black;
  border-radius: 1rem;
  text-decoration: none;
  outline: none;
  
}
.fa {
  margin-left: -12px;
  margin-right: 8px;
  background: whitesmoke;
  color: black; 
}




